{
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "importOrder": ["^@nestjs/(.*)$", "^@repo/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderParserPlugins": [
        "typescript",
        "classProperties",
        "decorators-legacy"
    ],
    "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
